body {
  text-align: center;
  background: #232323;
}
.instructions {
  max-width: 500px;
  position: relative;
  margin:auto;
  font-size:18px;
  color: rgba(255,255,255,.45);
  background: black;
  padding: 10px;
}